Blend.ProvidusImplementation/Service References/NipWrapperService/NipWrapperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nameenquirysingleitem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceAccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nameenquirysingleitemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nameenquirysingleitemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNFPBanks">
        <s:complexType />
      </s:element>
      <s:element name="GetNFPBanksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNFPBanksResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="fundtransfersingleitem_dc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationAccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginatorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Narration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentReference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerSourceAccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryBVN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryBankName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fundtransfersingleitem_dcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fundtransfersingleitem_dcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNIBSSCharges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNIBSSChargesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNIBSSChargesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nameenquirysingleitemSoapIn">
    <wsdl:part name="parameters" element="tns:nameenquirysingleitem" />
  </wsdl:message>
  <wsdl:message name="nameenquirysingleitemSoapOut">
    <wsdl:part name="parameters" element="tns:nameenquirysingleitemResponse" />
  </wsdl:message>
  <wsdl:message name="GetNFPBanksSoapIn">
    <wsdl:part name="parameters" element="tns:GetNFPBanks" />
  </wsdl:message>
  <wsdl:message name="GetNFPBanksSoapOut">
    <wsdl:part name="parameters" element="tns:GetNFPBanksResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransfersingleitem_dcSoapIn">
    <wsdl:part name="parameters" element="tns:fundtransfersingleitem_dc" />
  </wsdl:message>
  <wsdl:message name="fundtransfersingleitem_dcSoapOut">
    <wsdl:part name="parameters" element="tns:fundtransfersingleitem_dcResponse" />
  </wsdl:message>
  <wsdl:message name="GetNIBSSChargesSoapIn">
    <wsdl:part name="parameters" element="tns:GetNIBSSCharges" />
  </wsdl:message>
  <wsdl:message name="GetNIBSSChargesSoapOut">
    <wsdl:part name="parameters" element="tns:GetNIBSSChargesResponse" />
  </wsdl:message>
  <wsdl:portType name="NipWrapperServiceSoap">
    <wsdl:operation name="nameenquirysingleitem">
      <wsdl:input message="tns:nameenquirysingleitemSoapIn" />
      <wsdl:output message="tns:nameenquirysingleitemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNFPBanks">
      <wsdl:input message="tns:GetNFPBanksSoapIn" />
      <wsdl:output message="tns:GetNFPBanksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dc">
      <wsdl:input message="tns:fundtransfersingleitem_dcSoapIn" />
      <wsdl:output message="tns:fundtransfersingleitem_dcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNIBSSCharges">
      <wsdl:input message="tns:GetNIBSSChargesSoapIn" />
      <wsdl:output message="tns:GetNIBSSChargesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NipWrapperServiceSoap" type="tns:NipWrapperServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nameenquirysingleitem">
      <soap:operation soapAction="http://tempuri.org/nameenquirysingleitem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNFPBanks">
      <soap:operation soapAction="http://tempuri.org/GetNFPBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dc">
      <soap:operation soapAction="http://tempuri.org/fundtransfersingleitem_dc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNIBSSCharges">
      <soap:operation soapAction="http://tempuri.org/GetNIBSSCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NipWrapperServiceSoap12" type="tns:NipWrapperServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nameenquirysingleitem">
      <soap12:operation soapAction="http://tempuri.org/nameenquirysingleitem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNFPBanks">
      <soap12:operation soapAction="http://tempuri.org/GetNFPBanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dc">
      <soap12:operation soapAction="http://tempuri.org/fundtransfersingleitem_dc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNIBSSCharges">
      <soap12:operation soapAction="http://tempuri.org/GetNIBSSCharges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NipWrapperService">
    <wsdl:port name="NipWrapperServiceSoap" binding="tns:NipWrapperServiceSoap">
      <soap:address location="http://192.168.1.231/niptestservice/NipWrapperService.asmx" />
    </wsdl:port>
    <wsdl:port name="NipWrapperServiceSoap12" binding="tns:NipWrapperServiceSoap12">
      <soap12:address location="http://192.168.1.231/niptestservice/NipWrapperService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>